 


   <div class="row">
    <div class="col-lg-12 ">
            <table class="table table-bordered table-striped table-hover ">
            <thead>
                  <tr  class="text-center bg-dark text-white encabezados">
   <th>Nombre</th>
   <th>Correo</th>
   <th>Telefono</th>
   <th>Direccion</th>
   <th>
      Operaciones
   </th>
</tr> 
            </thead>
                <tbody>
                     {{#each  empleados }}
                  <tr  class="text-center ">
                    <td class="w-10">{{this.nombre}}</td>
                    <td>{{this.correo}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.direccion}}</td>
                    <td>
       <a href="/eliminar/{{_id}}" class="btn btn-danger">Eliminar</a>
       <a href="/editar/{{_id}}" class="btn btn-warning">Editar</a>
   </td>
</tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
</div>
